

/* placehoder for fonts
*/
* {
  font-family: 'Montserrat', -serif;
}

body {
  background: linear-gradient(
    90deg, rgb(104, 159, 223) 0%, rgb(25, 64, 192) 100%);
  height: calc(100vh);
  width: calc(100vw);
  margin: 0;
}

h1 {
  font-family: 'Titan One', cursive;
  text-align: center;
  padding: 20px;
  background-color: #a2c2eb;
}



