

/* placehoder for fonts
*/
* {
  font-family: 'Montserrat', -serif;
}

body {
  background: linear-gradient(
    90deg, rgb(91, 205, 233) 0%, rgb(21, 84, 221) 100%);
  height: calc(100vh);
  width: calc(100vw);
  margin: 0;
}

h1 {
  font-family: 'Titan One', cursive;
  text-align: center;
  padding: 20px;
  background-color: #B0C4DE;
}



